<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css1/style.css" rel='stylesheet' type='text/css'/>
    <script src="/js1/jquery-2.1.0.js"></script>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
     }
    </script>


</head>
<body>
<script>
    $(document).ready(function (c) {
    $('.close').on('click', function (c) {
        $('.login-form').fadeOut('slow', function (c) {
            $('.login-form').remove();
        });
    });
});
</script>
<!--SIGN UP-->
<h1>p2p裸贷 后台Login 页面</h1>
<div class="login-form">
    <div ></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="avtar">
        <img src="/images/avtar.png"/>
    </div>
    <div></div>

    <form id="form" method="post" action="userLogin" onsubmit="return submit1()">
        <input type="text" class="text" value="userName"  id="userName" name="userName" onfocus="this.value = '';"
              >
        <div class="key">
            <input type="password" value="passWord" id="passWord" name="passWord" onfocus="this.value = '';"
                 >
        </div>
        <div class="signin">
            <input type="submit" value="Login">
        </div>
    </form>

</div>
<script>
    function submit1() {
        var userName = $("#userName").val();
        var passWord = $("#passWord").val();
        if(userName==null||userName==""||passWord==null||passWord==""){
            alert("账号或者密码不能为空")
            return false;
        }else{
            return true;
        }

    }
</script>

</body>
</html>